.home-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
}
.welcome-text-wrapper {
  margin-left: 50px;
  color: black;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.home-wrapper > div > h1 {
  color: black;
  font-size: 4em;
  font-weight: 900;
  display: flex;
  flex-direction: column;
}
.home-wrapper > div > p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 6px;
}
.welcome-image {
  position: absolute;
  height: 500px;
  border-radius: 30px;
  animation: welcome-image-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
.welcomeone {
  top: 20%;
  right: 30%;
  box-shadow: 0px 0px 50px 0px #233f8e;
}
.welcometwo {
  top: 30%;
  right: 20%;
  box-shadow: 0px 0px 50px 0px #3e97c9;

  animation-delay: 2s;
}
@keyframes welcome-image-animation {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}
