.header-logo {
  width: 100px;
  height: auto;
}
.header-links {
  color: #3e97c9;
  text-decoration: none;
  font-weight:bold;
}
.header {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  background-color: white;
  height:fit-content;
  position:fixed;
  z-index:99999;
}
.navigation {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
  width: 100%;
  height: 100%;
}
.list-container {
    width:100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  grid-column: 2/6;
}
.map-logo {
  color: #3e97c9;
  font-size: 1.5rem;
  margin:auto;

}
